@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Zen+Dots&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 22px;
    margin-top: 0;
}

h2 {
  font-family: 'Zen Dots', cursive;
}

header {
  padding: 30px;
  font-size: 200%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Zen Dots', cursive;
}

main, section, aside, footer {
    padding: 10px;
    text-align: center;
}

/* Typical properties end */

a { flex: 1; }

/* Colorize and assign grid names */
header  { background-color: #a321ff; color:white; grid-area: head; }
main    {                                         grid-area: main; }
section { color:white;                            grid-area: stat; }
section.bordered {                                grid-area: info; }
section.table {                                   grid-area: tabl;}
section.bio {                                     grid-area: sbio}
footer  {                                         grid-area: foot; }

body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
}

footer {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  color: #a321ff;
}

.bordered {
  border: 10px solid #a321ff;
  margin: 10px;
}

.bio {
  border: 5px solid #a321ff;
  margin: 10px;
}

.bio .justify {
  padding: 20px;
  text-align: center;
}

.bordered > div > h2 {
  color: #a321ff;
  font-weight: bold;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-row {
  display: inline-block;
  border: 1px solid lightgray;
  width: 100%;
  margin: 1rem;
}

.box:hover {
  /* box-shadow: 0 8px 16px 0 #a321ff; */
  background: -webkit-linear-gradient(left, #bd9ffc, #af76f5);
  background: linear-gradient(to right, #bd9ffc, #af76f5);
}

.box > h3 {
  color: #a321ff;
}

.box > * {
  margin: 5px;
}

.profile {
  border-radius: 50%;
}

.win {
  color:green;
  font-weight: bold;
}

.loss {
  color:red;
  font-weight: bold;
}

#select_cols li {
  color:white;
  display:inline-block;
  margin:5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  color: white;
}

th, td {
  text-align: left !important;
  padding: 8px;
}

/* tr:nth-child(even){background-color: #f2f2f2} */
tr {
  border-bottom: solid 1px lightgray;
}

tr:hover {
  background: -webkit-linear-gradient(left, #bd9ffc, #af76f5);
  background: linear-gradient(to right, #bd9ffc, #af76f5);
}

td.win{
  color:green;
  font-weight: bold;
}

td.loss {
  color:red;
  font-weight: bold;
}

th {
  background-color: #a321ff;
  color: white;
  cursor: pointer;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

/* Grid container - small screens */
@media (max-width: 300px) {
  body {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "head"
        "main"
        "info"
        "stat"
        "tabl"
        "sbio"
        "foot";
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .box{
    display: inline-block;
    padding: 10px;
    border: 1px solid lightgray;
    width: 80%;
    margin: 1rem;
  }
}

.icons a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.icons a.twitter {
  background: url(images/twitter.png) left top no-repeat;
}

.icons a.facebook {
  background: url(images/facebook.png) left top no-repeat;
}

/* Medium screens */
@media all and (min-width: 600px) {
    body {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "head head"
            "main info"
            "stat stat"
            "tabl tabl"
            "sbio sbio"
            "foot foot";
    }

    .flex-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .box{
      display: inline-block;
      padding: 10px;
      border: 1px solid lightgray;
      width: calc(80% - 2rem);
    }

  .center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }
}

/* Large screens */
@media all and (min-width: 800px) {
  nav {
    justify-content: flex-start;
    flex-direction: column;
  }
  a { flex: 0; }

  body {
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-areas:
            "head head head"
            "main info info"
            "stat stat stat"
            "tabl tabl tabl"
            "sbio sbio sbio"
            "foot foot foot";
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  .box{
    display: inline-block;
    padding: 10px;
    border: 1px solid lightgray;
    width: calc(80% - 2rem);
    margin: 1rem;
  }

  .center {
    margin: auto;
    width: 30%;
    padding: 10px;
  }
}



